<!-- WRAPPER -->
  <div class="wrapper">

    <!-- HOME -->
    <section class="module module-header bg-dark bg-dark-50" data-background="assets/images/section-1.jpg">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h1 class="module-title font-alt align-center">Orders / Pick-up</h1>

            <div class="module-subtitle font-inc align-center">
              Order now - Pay later
            </div>

          </div>

        </div>
        <!-- /MODULE TITLE -->

      </div>

    </section >
    <!-- /HOME -->

<body>
    <!-- PORTFOLIO -->
    <section class="module-small p-t-20">

      <div class="container">

            <!-- PORTFOLIO FILTER -->
        <div class="row">
          <div class="col-sm-12">

            <ul id="filters" class="filter font-inc hidden-xs">
              <li><a href="#" data-filter="*" class="current wow fadeInUp">All</a></li>
              <li><a href="#" data-filter=".breakfast" class="wow fadeInUp" data-wow-delay="0.2s">Breakfast</a></li>
              <li><a href="#" data-filter=".lunch" class="wow fadeInUp" data-wow-delay="0.4s">Lunch</a></li>
              <li><a href="#" data-filter=".drinks" class="wow fadeInUp" data-wow-delay="0.6s">Drinks</a></li>
            </ul>

          </div>
        </div>


        <!-- /PORTFOLIO FILTER -->

        <br />


        <!-- PORTFOLIO LIST -->
        <ul id="works-grid" class="works-grid works-grid-4 works-hover-w">

          <!-- PORTFOLIO ITEM -->
          <li class="work-item breakfast">
              <div class="work-image">
                <%= image_tag 'bennie.jpg', class: 'img-responsive' %>
              </div>
              <br />
              <div class="work-caption">
                <h3 class="work-title font-alt">Sirracha Eggs Benedict</h3>
                <div class="work-descr font-inc">
                  blablabla
                </div>
                <!-- Button trigger modal -->
                <br />
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                   Add to Cart
                  </button>
              </div>
            </a>
          </li>
          <!-- /PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <li class="work-item breakfast">
              <div class="work-image">
                <%= image_tag 'brie.jpg', class: 'img-responsive' %>
              </div>
              <div class="work-caption">
                <br />
                <h3 class="work-title font-alt">Brie & Cumin Hash</h3>
                <div class="work-descr font-inc">
                  blablabla
                </div>
                <br />
                <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                   Add to Cart
                  </button>
              </div>
            </a>
          </li>
          <!-- /PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <li class="work-item lunch">
              <div class="work-image">
                <%= image_tag 'baguette.jpg', class: 'img-responsive' %>
              </div>
              <div class="work-caption">
                <br />
                <h3 class="work-title font-alt">Bahn Mi</h3>
                <div class="work-descr font-inc">
                  blablabla
                </div>
                <br />
                <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                   Add to Cart
                  </button>
              </div>
            </a>
          </li>
          <!-- /PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <li class="work-item breakfast">
              <div class="work-image">
                <%= image_tag 'muesli.jpg', class: 'img-responsive' %>
              </div>
              <div class="work-caption">
                <br />
                <h3 class="work-title font-alt">Soy yogurt & Muesli</h3>
                <div class="work-descr font-inc">
                  blablabla
                </div>
                <br />
                <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                   Add to Cart
                  </button>
              </div>
            </a>
          </li>
          <!-- /PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <li class="work-item lunch">
              <div class="work-image">
                <%= image_tag 'ricebowl.jpg', class: 'img-responsive' %>
              </div>
              <div class="work-caption">
                <h3 class="work-title font-alt">Rice Bowl</h3>
                <div class="work-descr font-inc">
                  blablabla
                </div>
                <br />
                <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                   Add to Cart
                  </button>
              </div>
            </a>
          </li>
          <!-- /PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <li class="work-item breakfast">
              <div class="work-image">
                <%= image_tag 'chilli_scrambled.jpg', class: 'img-responsive' %>
              </div>
              <div class="work-caption">
                <h3 class="work-title font-alt">Chilli scrambled Eggs</h3>
                <div class="work-descr font-inc">
                  blablabla
                </div>
                <br />
                <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                   Add to Cart
                  </button>
              </div>
            </a>
          </li>
          <!-- /PORTFOLIO ITEM -->

        </ul>
        <!-- /PORTFOLIO LIST -->

      </div>

    </section>
    <!-- /PORTFOLIO -->

    <!-- /POST -->

        <div class="row">

          <div class="col-sm-8 col-sm-offset-2">

            <!-- POST -->
            <div class="post">

              <div class="post-header">
                <h1 class="post-title font-alt text-center"><a href="blog-single.html">Your Order</a></h1>
              </div>

              <div class="post-entry">
                <a>dasasfasfaas</a>
                <a>dasasfasfaas</a>

              </div>

            </div>

          </div>

        </div>
            <!-- /POST -->

                    <!-- CONTACT -->
    <section class="module-small">
    
      <div class="container">
    
        <div class="row">
    
          <!-- CONTENT BOX -->
          <div class="col-sm-4">
            <div class="content-box">
              <div class="content-box-title font-inc">
                59-61 Gertrude St, Fitzroy
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->
    
          <!-- CONTENT BOX -->
          <div class="col-sm-4">
            <div class="content-box">
              <div class="content-box-title font-inc">
                03 9419 3686
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->
    
          <!-- CONTENT BOX -->
          <div class="col-sm-4">
            <div class="content-box">
              <div class="content-box-title font-inc">
                hello@mightyboyeatery.com.au
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->
    
        </div>
    
      </div>
    
    </section>
    <!-- /CONTACT -->

    <!-- FOOTER -->
    <footer class="footer">
    
      <div class="container">
    
        <div class="row">
    
          <div class="col-sm-12 text-center">
            <p class="copyright font-inc m-b-0">© 2016 <a href="index.html">Mighty Boy</a>, All Rights Reserved.</p>
          </div>
    
        </div>
    
      </div>
    
    </footer>
    <!-- /FOOTER -->


</body>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>