<!-- WRAPPER -->
  <div class="wrapper">

    <!-- HOME -->
    <section class="module module-header bg-dark bg-dark-50" data-background="assets/images/section-1.jpg">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h1 class="module-title font-alt align-center">Portfolio wide Gutter</h1>

            <div class="module-subtitle font-inc align-center">
              A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
            </div>

          </div>

        </div>
        <!-- /MODULE TITLE -->

      </div>

    </section >
    <!-- /HOME -->

    <!-- PORTFOLIO -->
    <section class="module-small p-t-20">

      <div class="container">

        <!-- PORTFOLIO FILTER -->
        <div class="row">
          <div class="col-sm-12">

            <ul id="filters" class="filter font-inc hidden-xs">
              <li><a href="#" data-filter="*" class="current wow fadeInUp">All</a></li>
              <li><a href="#" data-filter=".illustration" class="wow fadeInUp" data-wow-delay="0.2s">Illustration</a></li>
              <li><a href="#" data-filter=".marketing" class="wow fadeInUp" data-wow-delay="0.4s">Marketing</a></li>
              <li><a href="#" data-filter=".photography" class="wow fadeInUp" data-wow-delay="0.6s">Photography</a></li>
              <li><a href="#" data-filter=".webdesign" class="wow fadeInUp" data-wow-delay="0.8s">Web Design</a></li>
            </ul>

          </div>
        </div>

        <br/>
        <!-- /PORTFOLIO FILTER -->

        <!-- PORTFOLIO LIST -->
        <ul id="works-grid" class="works-grid works-grid-4 works-hover-w">

          <!-- PORTFOLIO ITEM -->
          <li class="work-item illustration webdesign">
              <div class="work-image">
                <%= image_tag 'bennie.jpg', class: 'img-responsive' %>
              </div>
              <div class="work-caption">
                <h3 class="work-title font-alt">Sirracha Eggs Benedict</h3>
                <div class="work-descr font-inc">
                  blablabla
                </div>
              </div>
            </a>
          </li>
          <!-- /PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <li class="work-item marketing photography">
              <div class="work-image">
                <%= image_tag 'brie.jpg', class: 'img-responsive' %>
              </div>
              <div class="work-caption">
                <h3 class="work-title font-alt">Brie & Cumin Hash</h3>
                <div class="work-descr font-inc">
                  blablabla
                </div>
              </div>
            </a>
          </li>
          <!-- /PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <li class="work-item illustration photography">
              <div class="work-image">
                <%= image_tag 'baguette.jpg', class: 'img-responsive' %>
              </div>
              <div class="work-caption">
                <h3 class="work-title font-alt">Bahn Mi</h3>
                <div class="work-descr font-inc">
                  blablabla
                </div>
              </div>
            </a>
          </li>
          <!-- /PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <li class="work-item marketing photography">
              <div class="work-image">
                <%= image_tag 'muesli.jpg', class: 'img-responsive' %>
              </div>
              <div class="work-caption">
                <h3 class="work-title font-alt">Soy yogurt & Muesli</h3>
                <div class="work-descr font-inc">
                  blablabla
                </div>
              </div>
            </a>
          </li>
          <!-- /PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <li class="work-item illustration webdesign">
              <div class="work-image">
                <%= image_tag 'ricebowl.jpg', class: 'img-responsive' %>
              </div>
              <div class="work-caption">
                <h3 class="work-title font-alt">Rice Bowl</h3>
                <div class="work-descr font-inc">
                  blablabla
                </div>
              </div>
            </a>
          </li>
          <!-- /PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <li class="work-item marketing webdesign">
              <div class="work-image">
                <%= image_tag 'chilli_scrambled.jpg', class: 'img-responsive' %>
              </div>
              <div class="work-caption">
                <h3 class="work-title font-alt">Chilli scrambled Eggs</h3>
                <div class="work-descr font-inc">
                  blablabla
                </div>
              </div>
            </a>
          </li>
          <!-- /PORTFOLIO ITEM -->

        </ul>
        <!-- /PORTFOLIO LIST -->

      </div>

    </section>
    <!-- /PORTFOLIO -->
