<!-- WRAPPER -->
  <div class="wrapper">

    <!-- HOME -->
    <section class="module module-header bg-dark bg-dark-50" data-background="assets/images/section-1.jpg">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h1 class="module-title font-alt align-center">Catering</h1>

            <div class="module-subtitle font-inc align-center">
              Looking for fresh, friendly and professional gourmet catering? Let us know your thoughts, we'll make it happened

            </div>

          </div>

        </div>
        <!-- /MODULE TITLE -->

      </div>

    </section >
    <!-- /HOME -->
    <br/><br/>

				<!-- CONTACT FORM -->
				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<%= simple_form_for @catering, url: contact_path do |message_form| %>
						<form id="contact-form" role="form" novalidate="">

							<div class="form-group">
								<label class="sr-only" for="cname">Name</label>
								<%= message_form.text_field :name, class: 'form-control', id: 'cemail', placeholder: "Name" %>
								<p class="help-block text-danger"></p>
							</div>

							<div class="form-group">
								<label class="sr-only" for="cemail">Your Email</label>
								<%= message_form.email_field :email, class: 'form-control', id: 'cemail', placeholder: 'Your Email Address' %>
								<p class="help-block text-danger"></p>
							</div>

							<div class="form-group">
								<%= message_form.text_area :message, class: 'form-control', id:"cmessage", rows: 7, placeholder: 'Your message here...' %>
								<p class="help-block text-danger"></p>
							</div>

							<%= message_form.submit "Send", class: 'btn btn-round btn-g' %>

						</form>
						<% end %>

						<!-- Ajax response -->
						<div id="contact-response" class="ajax-response font-alt"></div>

					</div>

				</div>
				<!-- /CONTACT FORM -->

			</div>

		</section>
		<!-- /CONTACT -->

		<!-- DIVIDER -->
		<hr class="divider-w">
		<!-- /DIVIDER -->

                    <!-- CONTACT -->
    <section class="module-small">
    
      <div class="container">
    
        <div class="row">
    
          <!-- CONTENT BOX -->
          <div class="col-sm-6">
            <div class="content-box">
              <div class="content-box-title font-inc">
                59-61 Gertrude St, Fitzroy
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->
  
    
          <!-- CONTENT BOX -->
          <div class="col-sm-6">
            <div class="content-box">
              <div class="content-box-title font-inc">
                hello@mightyboyeatery.com.au
              </div>
            </div>
          </div>
          <!-- /CONTENT BOX -->
    
        </div>
    
      </div>
    
    </section>
    <!-- /CONTACT -->

    <!-- FOOTER -->
    <footer class="footer">
    
      <div class="container">
    
        <div class="row">
    
          <div class="col-sm-12 text-center">
            <p class="copyright font-inc m-b-0">© 2016 <a href="index.html">A Macia</a>, All Rights Reserved.</p>
          </div>
    
        </div>
    
      </div>
    
    </footer>
    <!-- /FOOTER -->

</body>
</html>