<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mightyboy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <!-- PRELOADER -->
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <!-- /PRELOADER -->

  <!-- NAVIGATION -->
  <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top" role="navigation">

      <div class="container">
    
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Mighty Boy Eatery', root_path, class: 'navbar-brand' %>
        </div>
    
        <div class="collapse navbar-collapse" id="custom-collapse">
    
          <ul class="nav navbar-nav navbar-right">
    
            <li>
              <a class="nav navbar-nav navbar-right" <%= link_to 'home', root_path, class: 'navbar-brand' %></a>
            </li>
    
            <li>
              <a class="nav navbar-nav navbar-right" <%= link_to 'order', new_order_path, class: 'navbar-brand' %></a>
            </li>
    
            <li>
              <a class="nav navbar-nav navbar-right" <%= link_to 'catering', new_catering_path, class: 'navbar-brand' %></a>
            </li>
    
          </ul>
        </div>
    
      </div>

  </nav
  <!-- /NAVIGATION -->

<%= yield %>

</body>
</html>